article.project_details
  +block(100%, 100%)
  position: fixed
  top: 0px
  left: 0px
  background: $lightGrey
  +transition(all 1s)
  opacity: 0
  visibility: hidden

  section.project_details__wrap
    @extend %container
    position: relative
    // properties for animation
    opacity: 0
    +transform(translateY(-150px))
    +transition(opacity 0.4s, transform 0.5s)
    +transition-delay(0s)

  header
    +block(95%, 50px)
    border-bottom: 1px solid $orange
    margin: 0px auto
    h1
      +font(24, 50)
      font-family: $sans
      color: $darkGrey
      font-weight: 300

  .close_cover
    +block(100%, 100%)
    position: fixed
    top: 0px
    left: 0px


// Collapsable sections
.project_details__collapsable
  +block(95%, auto)
  margin: 25px auto
  position: relative
  max-height: 350px
  overflow: hidden
  +transition(max-height 0.5s)
  border-bottom: 2px solid $mediumGrey

  h1
    +font(16, 18)
    font-family: $sans
    padding-left: 30px
    color: $darkGrey

  button.toggleState
    +block(16px, 16px)
    background: url(images/minus.svg)
    position: absolute
    top: 0px
    left: 0px

// closed state of collapsable view
.project_details__collapsable--closed
  max-height: 28px

  button.toggleState
    background: url(images/plus.svg)

// Subsection styling for general details
section.project_details__details

  span.dates
    position: absolute
    top: 0px
    right: 30px
    +font(12, 18)
    color: $mediumGrey
    font-family: $sans
  p
    +font(12, 17)
    color: $darkGrey
    font-family: $sans
    padding: 20px 30px

// owner and completion styles
section.project_details__owner
  section.project_details__owner__author
    padding-left: 30px
    margin: 25px 0px
    img
      +block(40px, 40px)
      float: left
      border: 2px solid $mediumGrey
      border-radius: 2px
      background: url(images/avatar.svg)
      background-size: cover
    h2
      display: block
      float: left
      color: $blue
      font-family: $sans
      +font(17, 17)
      margin-top: 40px - 17
      margin-left: 16px

  .progress_bar
    +block(172px, 12px)
    float: left
    clear: left
    position: relative
    margin: 30px 30px
    .progress_bar__gauge
      outline: 2px solid white
      height: 12px
    span.current
      +font(13, 12)
      font-family: $sans
      color: $mediumGrey
      position: absolute
      top: 0px
      right: -35px
      span
        color: $lightGreen

// close button
button.project_details__close
  +block(16px, 16px)
  background: url(images/x.svg)
  background-size: cover
  position: absolute
  top: 20px
  right: 30px
  &:hover
    opacity: 0.6


//--------------------------//
// End State for displayed project detail container
article.project_details--active
  opacity: 1
  visibility: visible
  section.project_details__wrap
    opacity: 1
    +transform(translateY(0px))
    +transition-delay(0.3s)
